@tailwind preflight;

@tailwind components;

nav a.active {
    @apply .text-red-darkest .border-red;
}

.table-header {
    @apply .py-2 .px-6 .bg-grey-lighter .font-sans .font-medium .uppercase .text-sm .text-grey-darker .border-b .border-grey-light
}

.securitaire {
    @apply .bg-green-light .text-green-darker .font-thin
}

.precaution {
    @apply .bg-yellow-light .text-yellow-darker .font-thin
}

.absence-donnees {
    @apply .bg-grey-light .text-grey-darker .font-thin
}

.non-recommande {
    @apply .bg-red-light .text-red-darker .font-thin
}

@tailwind utilities;

#stripes {
    transform-origin: 0;
    transform: skewY(-6deg);
    background: linear-gradient(150deg, #CC1F1A 0%, #E3342F 30%, #EF5753 50%);
}

a {
    text-decoration: none;
}

#secondary:before {
    position: absolute;
    content: "";
    background: #f6f9fc;
    width: 100%;
    height: 120%;
    top:0;
    transform: skewY(6deg);
    z-index: -1;
}

[v-cloak] > * { display:none; }

.summary-list > li {
    list-style: none;
    font-weight: bold;
    padding: 0.5em 0.5em;
}

td > p {
    padding:10px 0;
}

td {
    padding-left: 10px;
    padding-right: 10px;
}

.trans {
    transition: linear 300ms;
}

[v-cloak] > * {
    display: none;
}

@media (max-width: 500px) {
    th.table-header {
        font-size:12px;
        padding: 0;
    }
    td {
        font-size: 12px;
    }
}