@import "~@fortawesome/fontawesome-free/css/all.css";

@tailwind preflight;

@tailwind components;

.navbar-item {
    @apply .block .flex-1 .px-2 .py-3 .text-sm .text-grey .no-underline .border-b-2 .border-transparent .trans
}

.navbar-item:hover {
    @apply .bg-red-lightest text-black;
}

nav a.active {
    @apply .text-red .bg-red-lightest;
}

.search-item {
    @apply .bg-white .p-2 .shadow-md .border-l-4 .border-blue-lighter .font-bold .text-blue-darker .mx-auto w-2/5;
}

.search-item:hover {
    @apply .bg-blue-lightest .cursor-pointer;
}

.search-not-found {
    @apply .bg-white .p-2 .shadow-md .border-l-4 .text-blue-darker;
}

@screen sm {
    .navbar-item {
        @apply .py-6 .text-center
    }

    .navbar-item:hover {
        @apply .border-red .bg-transparent
    }

    nav a.active {
        @apply .text-red-darkest .border-red .bg-transparent
    }
}

.table-header {
    @apply .py-2 .px-6 .bg-grey-lighter .font-sans .font-medium .uppercase .text-sm .text-grey-darker .border-b .border-grey-light
}

td > h4 {
    @apply .font-medium .tracking-tight .text-grey-darker .uppercase .text-sm .bg-white .border-t .border-b .border-blue-light .pl-4
}

.securitaire {
    @apply .bg-green-light .text-green-darker .font-thin
}

.precaution {
    @apply .bg-yellow-light .text-yellow-darker .font-thin
}

.absence-donnees {
    @apply .bg-grey-light .text-grey-darker .font-thin
}

.non-recommande {
    @apply .bg-red-light .text-red-darker .font-thin
}

@tailwind utilities;

#stripes {
    transform-origin: 0;
    transform: skewY(-6deg);
    background: linear-gradient(150deg, #CC1F1A 0%, #E3342F 30%, #EF5753 50%);
}

a {
    text-decoration: none;
}

#secondary:before {
    position: absolute;
    content: "";
    background: #f6f9fc;
    width: 100%;
    height: 120%;
    top:0;
    transform: skewY(6deg);
    z-index: -1;
}

[v-cloak] > * { display:none; }

.summary-list > li {
    list-style: none;
    font-weight: bold;
    padding: 0.5em 0.5em;
}

td > p {
    padding:10px 0;
}

td {
    padding-left: 10px;
    padding-right: 10px;
}

.trans {
    transition: linear 300ms;
}

[v-cloak] > * {
    display: none;
}

@media (max-width: 500px) {
    th.table-header {
        font-size:12px;
        padding: 0;
    }
    td {
        font-size: 12px;
    }
}
